/* Наша команда */

.team {
  padding: 60px 0;
  background: #f5f4fa;

  .title {
    margin-bottom: 30px;
    font-size: 28px;
  }
}

.team-list-item {
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  &-name {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    color: $title-color;
  }

  &-position {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    color: $text-color;
  }
}

.social-links {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.social-links-item:not(:last-child) {
  margin-right: 10px;
}

.social-links-item-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;

  @extend %animation;
}

.social-links-item-link:hover,
.social-links-item-link:focus {
  background: $accent-color;
}

.social-links-item-link:hover .social-links-item-icon,
.social-links-item-link:focus .social-links-item-icon {
  fill: #ffffff;
}

@media screen and (max-width: 767px) {
  .team-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .team-list-item img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list-item {
    width: calc((100% - 30px) / 2);

    &:not(:nth-child(2n + 2)) {
      margin-right: 30px;
    }

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;

    .title {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.167;
    }
  }

  .team-list-item:not(:last-child) {
    margin-right: 30px;
  }
}
